// 전체 공통
.sec.notice-sec {
    .notice-wrapper {
        .notice-content {
            .list-tbl {
                tr {
                    &.answer {
                        background-color: #f3f3f3;
                    }
                }
            }
        }
    }
}

.sec.notice-faq-sec {
    .faq-wrapper {
        .faq-content {
            .faq-list-wrapper {
                .faq-list {
                    .faq-item {
                        >div {
                            &.answer {
                                background-color: #f3f3f3;
                            }
                        }
                    }
                }
            }
        }
    }
}

// mobile & tablet xs & sm
@media (max-width: 991px) {

    #noticePage {

        header,
        footer {
            display: none;
        }
    }

    main.notice {
        letter-spacing: -0.3px;
    }

    .notice-page-title {
        height: 50px;
        line-height: 46px;
        background-color: #f0f0f0;
        border-bottom: 1px solid #c8c8c8;
        text-align: center;

        img {
            display: inline-block;
            position: relative;
            vertical-align: middle;

            &.logo {
                top: 1px;
                height: 30px;
            }

            &.logo-txt {
                height: 15px;
                margin-left: 3px;
            }
        }
    }

    .notice-page-subtitle {
        padding: 25px;
        text-align: center;
        line-height: 1.6;
        font-size: 14px;
        word-break: keep-all;

    }

    .notice-page-footer {
        margin-top: 50px;
        height: 50px;
        line-height: 46px;
        background-color: #f0f0f0;
        border-bottom: 1px solid #c8c8c8;
        text-align: center;

        img {
            display: inline-block;
            position: relative;
            vertical-align: middle;

            &.logo {
                top: 1px;
                height: 30px;
            }

            &.logo-txt {
                height: 13px;
                margin-left: 3px;
            }
        }
    }

    $title-fz: 17px;
    $content-fz: 16px;

    #noticePage {
        .title-type1 {
            font-size: $title-fz;
            font-weight: 700;
            margin-bottom: 10px;
        }
    }

    .tbl-type1 {
        width: 100%;
        margin-top: 5px;
        border-top: 2px solid #2d2d2d;
        letter-spacing: -0.5px;
        line-height: 1.428;
        table-layout: fixed;

        &+.as-tbl {
            margin-top: 25px;
        }

        &.detail-tbl {
            td.content {
                padding-top: 10px;
                padding-bottom: 10px;
                line-height: 1.8;
            }

            &+.list-tbl {
                margin-top: 50px;
            }
        }

        &.list-tbl {
            // tr.on {
            //     background-color: #fefeee;
            //     color: $c-pink;
            // }
        }

        tr {
            border-top: 1px solid #bfbfbf;
            border-bottom: 1px solid #bfbfbf;
        }

        th,
        td {
            padding: 10px 10px;
            vertical-align: middle;
            font-size: $content-fz;
            word-break: keep-all;

            &:not(:first-child) {
                border-left: 1px solid #bfbfbf;
            }
        }

        th {
            background-color: #f9f9f9;
        }

        &.bd-x-0 {

            th,
            td {
                &:not(:first-child) {
                    border-left: none;
                }
            }
        }
    }

    // 공지사항 영역
    .sec.notice-sec {
        .notice-wrapper {
            .notice-content {
                .list-tbl {

                    col {
                        &:nth-child(1) {}

                        &:nth-child(2) {
                            width: 100px;
                        }
                    }

                    tr {
                        &.question {
                            cursor: pointer;

                            &.on+.answer {
                                display: table-row;
                            }
                        }

                        &.answer {
                            display: none;
                            line-height: 1.7;
                        }

                    }

                    td {}
                }
            }
        }
    }

    // 자주 묻는 질문 영역
    .sec.notice-faq-sec {
        margin-top: 30px;

        .faq-wrapper {
            .faq-content {
                .faq-list-wrapper {
                    // border-top: 1px solid #bbb;
                    font-size: $content-fz;
                    line-height: 1.428;

                    h2.title {
                        padding: 10px 10px;
                        background-color: #f2f2f2;
                        font-size: $title-fz;
                    }

                    .faq-list {
                        border-top: 2px solid #2d2d2d;

                        .faq-item {

                            >div {
                                position: relative;
                                padding: 10px 10px;
                                padding-left: 20px;
                                word-break: keep-all;
                                border-bottom: 1px solid #bbb;

                                &:before {
                                    position: absolute;
                                    left: 4px;
                                    margin-top: -1px;
                                }

                                &.question {
                                    cursor: pointer;

                                    &:before {
                                        content: 'Q';
                                    }

                                    // &.on {
                                    //     background-color: #f3f8fe;
                                    //     color: #3850a2;

                                    //     &+.answer {
                                    //         display: block;
                                    //     }
                                    // }
                                }

                                &.answer {
                                    display: none;
                                    padding-top: 10px;
                                    padding-bottom: 10px;
                                    line-height: 1.7;

                                    // &:before {
                                    //     content: 'A';
                                    // }
                                }
                            }

                            &.on {
                                .answer {
                                    display: block;
                                }
                            }


                        }
                    }
                }
            }
        }
    }

    // 파일 다운로드 영역
    .sec.notice-file-sec {
        margin-top: 30px;

        .file-wrapper {
            .file-content {
                padding-bottom: 30px;

                .file-list {
                    padding-top: 20px;
                    border-top: 2px solid #2d2d2d;


                    .file-item {
                        &+li {
                            margin-top: 10px;
                        }

                        .download-btn {
                            display: block;
                            height: 46px;
                            line-height: 46px;
                            background-color: #fff;
                            border: 1px solid #888;
                            font-family: $font-ntss;
                            text-align: center;
                            font-size: 18px;

                        }
                    }
                }
            }
        }
    }

}

@media (min-width: 992px) {

    #noticePage {

        header,
        footer {
            display: none;
        }
    }

    main.notice {
        letter-spacing: -0.3px;

        .c-rec {}

        .c-blue {}
    }

    .notice-page-title {
        height: 70px;
        line-height: 63px;
        background-color: #f0f0f0;
        border-bottom: 1px solid #c8c8c8;
        text-align: center;

        img {
            display: inline-block;
            position: relative;
            vertical-align: middle;

            &.logo {
                top: 1px;
            }

            &.logo-txt {
                margin-left: 3px;
            }
        }
    }

    .notice-page-subtitle {
        padding: 35px 0 35px;
        text-align: center;
        line-height: 1.6;
        font-size: 18px;

    }

    .notice-page-footer {
        margin-top: 50px;
        height: 70px;
        line-height: 68px;
        background-color: #f0f0f0;
        border-bottom: 1px solid #c8c8c8;
        text-align: center;

        img {
            display: inline-block;
            position: relative;
            vertical-align: middle;

            &.logo {
                top: 1px;
            }

            &.logo-txt {
                margin-left: 3px;
            }
        }
    }

    $title-fz: 30px;
    $content-fz: 18px;

    #noticePage {
        .title-type1 {
            font-size: $title-fz;
            font-weight: 700;
            margin-bottom: 15px;
        }
    }

    .tbl-type1 {
        width: 100%;
        margin-top: 5px;
        border-top: 2px solid #2d2d2d;
        letter-spacing: -0.5px;
        line-height: 1.428;

        &+.as-tbl {
            margin-top: 25px;
        }

        &.detail-tbl {
            td.content {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            &+.list-tbl {
                margin-top: 50px;
            }
        }

        &.list-tbl {
            // tr.on {
            //     background-color: #fefeee;
            //     color: $c-pink;
            // }
        }

        tr {
            border-top: 1px solid #bfbfbf;
            border-bottom: 1px solid #bfbfbf;
        }

        th,
        td {
            padding: 10px 20px;
            vertical-align: middle;
            font-size: $content-fz;
            word-break: keep-all;

            &:not(:first-child) {
                border-left: 1px solid #bfbfbf;
            }
        }

        th {
            background-color: #f9f9f9;
        }

        &.bd-x-0 {

            th,
            td {
                &:not(:first-child) {
                    border-left: none;
                }
            }
        }
    }

    .tbl-type2-wrapper {
        position: relative;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .tbl-type2 {
        width: 100%;
        border-collapse: collapse;

        th,
        td {
            padding: 10px 20px !important;
            background-color: #fff;
            border: 1px solid #bfbfbf;
        }

        th {
            text-align: center;
        }

        td {
            text-align: right;
        }
    }

    // 공지사항 영역
    .sec.notice-sec {
        .notice-wrapper {
            .notice-content {
                .list-tbl {
                    col {
                        &:nth-child(1) {}

                        &:nth-child(2) {
                            width: 170px;
                        }
                    }

                    tr {
                        &.question {
                            cursor: pointer;

                            &.on+.answer {
                                display: table-row;
                            }
                        }

                        &.answer {
                            display: none;
                            line-height: 1.7;

                            td {
                                padding-top: 20px;
                                padding-bottom: 20px;
                            }
                        }

                    }

                    td {}
                }
            }
        }
    }

    // 자주 묻는 질문 영역
    .sec.notice-faq-sec {
        margin-top: 50px;

        .faq-wrapper {
            .faq-content {
                .faq-list-wrapper {
                    // border-top: 1px solid #bbb;
                    font-size: $content-fz;
                    line-height: 1.428;

                    h2.title {
                        padding: 10px 10px;
                        background-color: #f2f2f2;
                    }

                    .faq-list {
                        // border-top: 1px solid #bbb;
                        border-top: 2px solid #2d2d2d;

                        .faq-item {

                            >div {
                                padding: 10px 10px;
                                padding-left: 40px;
                                word-break: keep-all;
                                border-bottom: 1px solid #bbb;

                                &:before {
                                    position: absolute;
                                    left: 10px;
                                }

                                &.question {
                                    cursor: pointer;

                                    &:before {
                                        content: 'Q';
                                    }

                                    // &.on {
                                    //     background-color: #f3f8fe;
                                    //     color: #3850a2;

                                    //     &+.answer {
                                    //         display: block;
                                    //     }
                                    // }
                                }

                                &.answer {
                                    display: none;
                                    padding-top: 20px;
                                    padding-bottom: 20px;
                                    line-height: 1.7;

                                    // &:before {
                                    //     content: 'A';
                                    // }
                                }
                            }

                            &.on {
                                .answer {
                                    display: block;
                                }
                            }


                        }
                    }
                }
            }
        }
    }

    // 파일 다운로드 영역
    .sec.notice-file-sec {
        margin-top: 50px;

        .file-wrapper {
            .file-content {
                padding-bottom: 100px;

                .file-list {
                    display: flex;
                    justify-content: space-between;
                    padding-top: 50px;
                    border-top: 2px solid #2d2d2d;

                    .file-item {
                        width: 45%;

                        .download-btn {
                            display: block;
                            height: 56px;
                            line-height: 56px;
                            background-color: #fff;
                            border: 1px solid #888;
                            font-family: $font-ntss;
                            text-align: center;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

}